.circle-component {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 5rem;
}

.skill-rate {
  &:hover {
    .message-x { opacity: 1; }    
  }
}

.message {
  &-plus { 
    top: -15px;
    left: 55px; 
  }
  &-x { 
    top: -20px;
    right: -20px;
    opacity: 0;
    transition: all .3s ease-in-out;
  }
  &-circle {
    top: 5px;
    right: 5px;
  }

  &-x,&-plus,&-circle {
    cursor: pointer;
  }
}

.add-skill {
  &-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000;
    opacity: 0;
    background: rgba($black, 0.1);
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in;

    &.popup-active {
      display: flex;
      opacity: 1;
    }
  }

  &-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: all 2s ease-in;

    &.form-active {
      opacity: 1;
    }

    .skill-name{
      border: none;
      outline: none;
      width: 300px;
    }
  }
}