.header__title {
  &-main {
    color: $dark-blue;
    white-space: nowrap;
    font: {
      weight: bold;
      size: 10rem;
      font-family: 'Fredoka One', cursive;
    }
    
    @media screen and (max-width: 600px) {
      font-size: 6rem;
    }
  }
  &-sub {
    color: $black;
    font-size: 3rem;
  }
  &-desc {
    color: $black;
    font: { 
      weight: 500; 
      size: 1.5rem; 
    }
  }
}