//Custom margin
.mt-10, .mt-lg-10 { margin-top: 10rem }
.mt-9, .mt-lg-9 { margin-top: 9rem }
.mt-8, .mt-lg-8 { margin-top: 8rem }
.mt-7, .mt-lg-7 { margin-top: 7rem }
.mt-6, .mt-lg-6 { margin-top: 6rem }

//Custom padding
.px-10, .px-lg-10 { padding: 0rem 10rem !important }
.px-9, .px-lg-9 { padding: 0rem 9rem !important }
.px-8, .px-lg-8 { padding: 0rem 8rem !important }
.px-7, .px-lg-7 { padding: 0rem 7rem !important }
.px-6, .px-lg-6 { padding: 0rem 6rem !important }

@media screen and (max-width: 700px) {
  .px-lg-10, 
  .px-lg-9,
  .px-lg-8,
  .px-lg-7,
  .px-lg-6 {padding: 0 !important;}

  .mt-lg-10, 
  .mt-lg-9,
  .mt-lg-8,
  .mt-lg-7,
  .mt-lg-6 {margin-top: 0;}
}

//Custom background
.bg-dark-blue{background: $dark-blue !important;}
.bg-orange{background: $orange !important;}
.bg-orange-lighter{background: $orange-lighter !important;}
.bg-gray{background: $gray !important;}
.bg-gray-darker{background: $gray-darker !important;}
.bg-black{background: $black !important;}

//Custom color
.color-dark-blue{color: $dark-blue !important;}
.color-orange{color: $orange !important;}
.color-orange-lighter{color: $orange-lighter !important;}
.color-gray{color: $gray !important;}
.color-gray-darker{color: $gray-darker !important;}
.color-black{color: $black !important;}


//Custom transform
.rotate-z-90 {
  transform: rotateZ(-90deg);
}

.w-30 {
  max-width: 30px;
}

.white-space {
  white-space: nowrap !important;
}

.left-2 {
  top: 5px;
  left: 1.6rem;
}

//line height
.line-height-normal {
  line-height: 1.8 !important;
}