//COLORS
$dark-blue: #3c3f51;
$orange:	#fdc144;
$orange-lighter: #f0d082;
$gray :#b2b2b2;
$gray-darker:#60616b;
$black: #020100;

//FONT FAMILY
$main-font: 'Lato', sans-serif;
$sub-font: 'Roboto Mono', monospace;